In [1]:
import numpy as np
import pandas as pd

In [2]:
test=pd.read_csv('test.csv',sep=',')

In [3]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [12]:
df=pd.DataFrame({'unique_percentage': test.apply(lambda x: len(x.unique()) /len(x)*100 )})
print(df)

             unique_percentage
PassengerId         100.000000
Pclass                0.717703
Name                100.000000
Sex                   0.478469
Age                  19.138756
SibSp                 1.674641
Parch                 1.913876
Ticket               86.842105
Fare                 40.669856
Cabin                18.421053
Embarked              0.717703

In [5]:
testcol=test.drop(['Name','PassengerId','Cabin'],axis=1)

In [13]:
testcol.info()
testcol.sample(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
Pclass      418 non-null int64
Sex         418 non-null object
Age         332 non-null float64
SibSp       418 non-null int64
Parch       418 non-null int64
Ticket      418 non-null object
Fare        417 non-null float64
Embarked    418 non-null object
dtypes: float64(2), int64(3), object(3)
memory usage: 26.2+ KB

     Pclass   Sex   Age  SibSp  Parch     Ticket     Fare Embarked
131       1  male  53.0      0      0     113780   28.500        C
256       3  male   NaN      0      0  AQ/4 3130    7.750        Q
242       1  male  45.0      1      1      16966  134.500        C
237       3  male  20.0      0      0       2679    7.225        C
82        1  male  49.0      0      0      19924   26.000        S

In [14]:
testcol['Sex']= testcol['Sex'].astype('category')
testcol['Ticket'] = testcol['Ticket'].astype('category')
testcol['Embarked'] = testcol['Embarked'].astype('category')

In [20]:
testcol['Embarked'].value_counts()

S    270
C    102
Q     46
Name: Embarked, dtype: int64

In [16]:
testcol['Age']=testcol['Age'].fillna(testcol['Age'].median())

In [19]:
testcol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
Pclass      418 non-null int64
Sex         418 non-null category
Age         418 non-null float64
SibSp       418 non-null int64
Parch       418 non-null int64
Ticket      418 non-null category
Fare        418 non-null float64
Embarked    418 non-null category
dtypes: category(3), float64(2), int64(3)
memory usage: 31.1 KB

In [18]:
testcol['Fare']=testcol['Fare'].fillna(testcol['Fare'].median())

In [21]:
testcol.describe()

           Pclass         Age       SibSp       Parch        Fare
count  418.000000  418.000000  418.000000  418.000000  418.000000
mean     2.265550   29.599282    0.447368    0.392344   35.576535
std      0.841838   12.703770    0.896760    0.981429   55.850103
min      1.000000    0.170000    0.000000    0.000000    0.000000
25%      1.000000   23.000000    0.000000    0.000000    7.895800
50%      3.000000   27.000000    0.000000    0.000000   14.454200
75%      3.000000   35.750000    1.000000    0.000000   31.471875
max      3.000000   76.000000    8.000000    9.000000  512.329200

In [22]:
testcol.to_csv('clean_test.csv',index=False)